.place-preview-list
	h2
		@extend %header-large
		margin-bottom: 40px

	.place-preview
		width: 48%
		margin-bottom: 40px

		&:nth-child(2n+1)
			margin-right: 4%

	.big-place
		.photo
			padding-top: 600/1000*100%
