.place-preview
	width: rem(480px)

	.photo
		width: 100%
		height: rem(340px)
		background:
			color: #333
			position: center
			repeat: no-repeat
			size: cover
		position: relative

	.description
		margin-top: 12px

	.title
		font:
			family: $font-secondary
			size: rem(36px)
		text-transform: uppercase
