@import place-preview-list/instagram

.place-preview-list
	%place-preview-list-block
		margin-bottom: 40px

	h2
		@extend %header-large
		margin-bottom: 40px

	.place-preview-list-city
		&:not(:first-child)
			margin-top: 80px

	.place-preview
		display: block

	.big-place
		@extend %place-preview-list-block

		.photo
			padding-top: 600/1000*100%

	.two-places
		@extend %place-preview-list-block
		display: flex

		.place-preview
			width: 48%

			&:first-child
				margin-right: 4%

	.place-on-left
		@extend %place-preview-list-block
		display: flex

		.place-preview
			width: 68%
			flex-shrink: 0
			margin-right: 50px

		.photo
			padding-top: 400/680*100%
