@import sections/header
@import sections/footer
@import sections/list

html
	background-color: $color-page-bg
	color: #444
	font:
		family: $font-primary
		size: $font-size-base
	line-height: (22px/$font-size-base)

%section-content
	$padding: rem(70px)

	padding:
		left: $padding
		right: $padding
