@import sections/header
@import sections/footer
@import sections/list

html
	$font-size: 18px
	
	background-color: #222
	color: #aaa
	font:
		family: 'Lato', sans-serif
		size: $font-size
	line-height: (22px/$font-size)

.section-content
	max-width: 1000px
	margin: auto
