@import sections/header
@import sections/footer
@import sections/list

html
	background-color: #222
	color: #aaa
	font:
		family: 'Lato', sans-serif
		size: 18px

.section-content
	max-width: 1000px
	margin: auto
