@import content/intro

%place-content
	.left-photo
		&:not(:last-child)
			margin-bottom: 80px

	.intro
		@extend %place-content-intro
		&:not(:last-child)
			margin-bottom: 120px

	.left-photo
		display: flex

		.photo
			max-width: $content-width

		.description
			@extend %photo-description-left
			margin-left: 20px
