%place-dishes
	display: flex
	justify-content: space-between

	.dish
		width: 290px

		img
			max-width: 100%

	.title
		margin:
			top: 20px
			bottom: 13px
		text-transform: uppercase
		color: white
		letter-spacing: 0.2em
		font-weight: 600

		.price
			color: #aaa
